@import url(reset.css);
@import url(1-12_header.css);
@import url(1-12_main.css);
@import url(1-12_footer.css);

.media-info-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc4c4;
  font-size: 20px;
}

:root {
  --button-primary: rgb(254, 111, 15);
  --button-hover: rgba(254, 111, 15, 0.8);
}

@media screen and (max-width: 600px) {
  .media-info-msg {
    display: none;
  }
}
